<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.Net Core</title>

    <link rel="icon" href="https://codific.com/wp-content/uploads/2019/04/cropped-codific_logo_512-32x32.png" sizes="32x32">
    <link rel="icon" href="https://codific.com/wp-content/uploads/2019/04/cropped-codific_logo_512-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="https://codific.com/wp-content/uploads/2019/04/cropped-codific_logo_512-180x180.png">

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
